{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="main-background">
        <img src="{% static 'images/waterproofing1.jpg' %}" alt="">
    </div>
    <div class="container">
        {% for article in article_list %}
            <div class="article-main">
                <a href="{% url 'article details' pk=article.pk %}">
                    <div class="card">
                        <div class="title">
                            <h5 class="post_title">{{ article.title }}</h5>
                        </div>
                        <div class="imgBx" id="{{ article.pk }}">
                            <img src="/media/{{ article.image }}" alt="post" class="cover">
                        </div>
                    </div>
                    <div class="side">
                        <h5 class="article-content">{{ article.content }}</h5>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}



