{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="main-background">
        <img src="{% static 'images/waterproofing1.jpg' %}" alt="">
    </div>
    <section class="main-section">
        <h1>Waterproofing Materials And Protective Coatings</h1>
        <section  class="main-section-products">
            {% for article in articles %}
                <article class="product-article">
                    <div class="product-img">
                        <img src="{{ article.image }}" alt="">
                    </div>
                    <a href=" {% url 'details article' pk=article.pk %}">{{ article.title}}</a>
                </article>
             {% endfor %}
        </section>
    
    </section>
{% endblock %}