{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="container">
        <div class="article">
            <div class="card">
                <div class="imgBx" id="{{ article.pk }}">
                    <img src="/media/{{ article.image }}" alt="post" class="cover">
                </div>
            </div>
            <div class="bottom">
                <p class="article-details">{{ article.title }}</p>
                <h5 class="postTime">{{ article.finish_date }}</h5>
                <p class="article-details">{{ article.content }}</p>
            </div>
        </div>
{% endblock %}