{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="container">
    <div class="article">
        <a href="{% url 'article details' pk=article.pk %}">
            <div class="title">
                <h5 class="postTime">{{ article.title }}</h5>
            </div>
            <div class="card">
                <div class="imgBx" id="{{ article.pk }}">
                    <img src="/media/{{ article.image }}" alt="post" class="cover">
                </div>
            </div>
            <div class="bottom">
                <h5 class="postTime">Continue reading</h5>
            </div>
        </a>
    </div>

{% endblock %}
