/* Article Main */
.article-main {
    width: 300px;
    height: 360px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.imgBx-image {
    width: 100%;
    height: 100%;
}

.article-main .card {
    width: 300px;
    height: 340px;
    overflow: hidden;
}

.title {
    padding: 10px;
    background-color: #f0f0f0;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.article-main .imgBx {
    width: 100%;
    /*height: 200px;*/
    overflow: hidden;
}

.article-main .cover {
    width: 100%;
    height: auto;
    display: block;
}

.article-main .side {
    padding: 10px;
    background-color: #f0f0f0;
    font-size: 18px;
}

.article-main .article-content {
    height: 24px; /* Adjust height for content box */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.postTime {
    padding-right: 10px;
    text-align: right;
}
/* END Article Main */
/*#############################################################*/
/* Article Details */
.article-details {
    margin: 100px auto 0 auto;
    width: 100%;
}

.article-details .imgBx {
    float: left;
    margin-right: 20px;
    width: 360px;
    height: 360px;
}


.article-details .content {
    /*overflow: hidden;*/
    /*width: 80%;*/
    /*    !*word-wrap: break-word; !* Enable word wrapping for long words *!*!*/
    text-align: justify;
}

.title {
    padding: 10px;
    background-color: #f0f0f0;
    font-weight: bold;
    font-size: 20px;
}
/* END Article Details */

