.offer-profile {
    width: 50%;
    margin-bottom: 20px;
}

.offer-profile .profile-data {
    gap: 50px;
    margin-bottom: 20px;
}

.offer-profile .footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 12px;
    font-family: sans-serif;
}

