.offer-profile {
    width: 50%;
    margin-bottom: 20px;
}

.offer-profile .profile-data {
    gap: 50px;
    margin-bottom: 20px;
}

.offer-profile .footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 12px;
    font-family: sans-serif;
}


.offer{
    width: 500px;
    height: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 140px;
}
.offer p {
    font-size: 18px;
    text-align: justify;
}
.offer h1 {
    font-weight: bold;
    text-align: right;
}