.userDetails a {
    color: initial;
}

.offer-details {
    margin: 5px 0 5px -1px;
}

.comments {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

.comments .userDetails {
    display: block !important;
}

.comments span {
    color: gray;
    font-size: 10px;
}

.comments h3 {
    display: flex;
    word-wrap: break-word;
    white-space: normal;
}

.comments .top {
    padding: 10px !important;
}

.comment-data {
    display: flex;
    font-size: 10px;
    word-break: break-all;
    white-space: normal;
    font-weight: bold;
    color: rgb(70, 65, 65);
}

.comment-data h3 {
    margin-top: 5px;
}

.comment-data p {
    margin-top: 4px;
    font-size: 13px;
    word-wrap: break-word;
    white-space: normal;
    font-weight: lighter;
}

.add-comment-details .addComments {
    margin-top: 0 !important;
}

.edit-delete-btns {
    position: absolute;
    top: 12px;
    right: 10px;
}

.edit-delete-btns img {
    width: 20px;
    margin-left: 5px;
}


.edit-delete {
    margin-top: 150px;
}

.login-register-div {
	margin-top: 13%;
}

.edit-delete {
	display: block;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(156, 152, 152);
	padding: 40px;
	width: 600px;
	margin-bottom: 15px;
	border-radius: 3px;
	box-shadow: 1px 2px 3px #888888;
}

.edit-delete h2 {
	text-align: center;
	margin-top: -10px;
	text-shadow: 1px 1px rgb(65, 63, 63);
}

.edit-delete label {
	display: none;
}

.edit-delete input, select {
	background-color: darkgray;
	border: 1px solid rgb(186, 184, 184);
	border-radius: 3px;
	height: 30px;
	padding-left: 2px;
	margin-top: 10px;
}

.edit-delete button {
	color: white;
	font-weight: bold;
	font-size: 13px;
	border: none;
	width: 100%;
	border-radius: 3px;
	margin-top: 10px;
	height: 30px;
    box-shadow: 2px 3px #888888;
    cursor: pointer;
}

.edit-delete textarea {
	position: relative !important;
}

.edit-delete a {
	color: white;
}

.edit-photo select {

}

.edit-photo label {
	display: initial !important;
	margin-top: 12px;
	margin-right: 5px;
	white-space: nowrap;
}

.edit-photo textarea {
	background-color: rgb(240, 230, 230);
	border: 1px solid rgb(186, 184, 184);
	border-radius: 3px;
	height: 180px;
	width: 200px;
	margin-left: -30px;
	padding-left: 2px;
	margin-top: 10px;
}

.edit-photo input {
	padding: 3px;
}

.edit-photo p {
	display: flex;
}

.delete-btn {
	background-color: rgb(255, 0, 0);
}

.edit-btn {
	background-color: darkgray;
}

.add-btn {
	background-color: darkgray;
}

.edit-delete button:hover {
    box-shadow: none;
}
