{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-project">
        <div class="project-main">
            <p class="location">{{ project.location }}</p>
            <div class="imgBx" id="{{ project.pk }}">
                <img src="/media/{{ project.photo }}" alt="post" class="imgBx-image">
            </div>
            <p class="content">{{ project.description }}</p>
            <h5 class="postTime">Finished at: {{ project.finish_date }}</h5>
        </div>
    </div>
{% endblock %}

