{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="article">
            {% for project in project_list %}
                <a href="{% url 'project details' pk=project.pk %}">
                    <div class="card">
                        <div class="imgBx" id="{{ project.pk }}">
                            <img src="/media/{{ project.photo }}" alt="post" class="cover">
                        </div>
                    </div>
                    <div class="bottom">
                        <p class="article-details">{{ project.location }}</p>
                        <h5 class="postTime">{{ project.finish_date }}</h5>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
