{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-project">
        {% for project in project_list %}
            <div class="project-main">
                <a href="{% url 'project details' pk=project.pk %}">
                    <p class="location">{{ project.location }}</p>
                    <div class="imgBx" id="{{ project.pk }}">
                        <img src="/media/{{ project.photo }}" alt="post" class="imgBx-image">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
